// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#area_nav {
  height: 50px;
  background-color: #0282F9;
  .area_nav_wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 100%;
    .logo_box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 10%;
      border-left: 1px solid white;
      transform: skewX(-20deg);
      img {
        transform: skewX(20deg);

      };
    };
    .logo_box:first-child {
      background-color: white;
    }
  }
}

#main_nav {
  display: flex;
  align-items: center;
  height: 115px;
  border-bottom: 1px solid #cecece;
  .main_nav_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    ul {
      height: 100%;
      display: flex;
      list-style: none;

      li {
        margin: 0 20px ;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
      };
    };
  };
}
#comic_carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 640px;
  width: 100%;
  background-color: black;
  color: white ;
  margin: 50px 0;
  h1{
    position: absolute;
    top: -4%;
    left: 10%;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0 30px;
    background-color: #0282F9;
    z-index: 1000;
    text-transform: uppercase;
  };
  .carousel {
    width: 100%;
    display: flex;
    overflow: hidden;
    .carousel_comic_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 .5vw;
      a {
        img {
          width: 19vw;
        };
      }
      span {
        color: white;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
      };
      span:last-child{
        color: #0282F9;
        font-size: 14px;
      };
    };
  };
}



#must_read {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  padding: 50px 0;
  margin: 80px 0;
  h1{
    color: #0282F9;
    position: absolute;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0 30px;
    top: -4%;
    left: 10%;
    z-index: 1000;
    text-transform: uppercase;
  };
  .carousel{
    display: flex;
    width: 70%;
    margin: auto;
    .carousel_must_card{
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      width: 25%;
      img{
        width: 100%;
      };
      span{
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
      };
      .subtitle {
        color: #0282F9;
        font-size: 14px;
      }
    };
  };
}
#current_series {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: black;
  color: white;
  padding: 50px 0;
  h1{
    position: absolute;
    top: -4%;
    left: 10%;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0 30px;
    background-color: #0282F9;
    z-index: 1000;
    text-transform: uppercase;
  };
  .carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    .carousel_serie_card {
      width: 15%;
      img {
        width: 100%;
      };
      p {
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
      }
    }
  }
}
#services_nav {
  background-color: #0282F9;
  height: 150px;
  .services_wrap {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .service_box {
      font-family: 'PT Sans Narrow', sans-serif;
      color: white;
      text-transform: uppercase;
    }
  }
}
footer {
  display: flex;
  position: relative;
  // flex-wrap: wrap;
  color: white;
  background-image: url('https://www.dccomics.com/sites/all/themes/dc_comics_bp/images/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  .footer_wrap{
    position: relative;
    display: flex;
    width: 70%;
    margin: auto;
    .footer_half {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      .footer_column {
        width: 25%;
        h3{
          font-family: 'PT Sans Narrow', sans-serif;
          text-transform: uppercase;
          font-size: 20px;
        };
        ul {
          list-style: none;
          color: #959595;
          li {
            font-size: 14px;
            line-height: 14px;
          };
        };
      };
      p {
        width: 80%;
        color: #959595;
        font-size: 14px;
        line-height: 14px;
      }
    };
  };
  #logo_background {
    position: absolute;
    height: 210%;
    top: -70%;
    right: 10%;
  }
  .sub_footer{
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #303030;
    position: absolute;
    bottom: 0;
    .sub_footer_wrap {
      display: flex;
      width: 70%;
      margin: auto;
      .sub_footer_left{
        display: flex;
        align-items: center;
        width: 50%;
        a {
          font-family: 'PT Sans Narrow', sans-serif;
          text-transform: uppercase;
          padding: 10px 20px;
          color: white;
          border: 2px solid #0282F9;
        }
      };
      .sub_footer_right{
        display: flex;
        justify-content: flex-end;
        width: 50%;
        img {
          margin: 10px;
        };
      };
    }
  };
}
.jumbo_comics {
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header_comics{
  height: 80px;
  background-color: #0282F9;
  .header_comics_wrap {
    position: relative;
    width: 70%;
    margin: auto;
    img {
      position: absolute;
      bottom: -60px;
      height: 310px;
    };
  };
}
.comics_content_wrap {
  width: 70%;
  margin: auto;
  .comics_content_container{
    width: 60%;
    h1{
      font-family: 'PT Sans Narrow', sans-serif;
      text-transform: uppercase;
      margin: 50px 0;
    };
    .price_box{
      display: flex;
      height: 50px;
      color: white;
      background-color: #55ba59;
      .left{display: flex;
        justify-content: space-between;
        width: 70%;
        line-height: 50px;
        border-bottom: 1px solid #357739;
        border-right: 1px solid #357739;
      };
      .right {
        width: 30%;
        text-align: center;
        border-bottom: 1px solid #357739;
        line-height: 50px;
      };
    };
    p{
      margin: 35px 0;
    };
  };
}
.talent_specs {
  background-color: #cecece;
  .talent_specs_container{
    display: flex;
    width: 70%;
    margin: auto;
    .talents_wrap{
      width: 50%;
    } ;
    .specs_wrap{
      display: flex;
      flex-direction: column;
      width: 50%;
    };
  };
}
